body {
  background-color: #000000;
  font-family: Sans-Serif;
  color: #a7a6a6; /* light-gray */
  margin-top: 4%;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 4%;  
}

h1, h2 {
  color: #b12121; /* light/dark red */
  /* color: #3cb371; */
}

a {
  color: rgb(86, 177, 255); #light-blue
}
