body {
  background-color: #000000;
  font-family: Sans-Serif;
  color: #a7a6a6; #light-gray
}

h1, h2 {
  #color: #943c3c; #light/dark red
  #color: #22863a; #slightly-darker-green
  color: rgb(121, 221, 145); #minty-green
}

a {
  #color: #3cb371; #lightish green
  color: rgb(86, 177, 255); #light-blue
}
